<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>{% if page %}{{ page.title }} | {% endif %}{{config.get('CORNERSTONE_TITLE', 'CornerstoneCMS')}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      main {
        padding-top: 70px;
        padding-bottom: 15px;
      }
      .footer {
        background-color: #f5f5f5;
      }
      .footer > .container {
        padding-right: 15px;
        padding-left 15px;
      }
      .sweet-nectar {
        display: none;
      }
    </style>
  </head>
  <body class="d-flex flex-column h-100 {% if page %}{{page.slug}}{% endif %}">
    <header>
      <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
          <a href="/" class="navbar-brand">
            {% if config.get('CORNERSTONE_LOGO') %}
            <img src="{{ config['CORNERSTONE_LOGO'] }}" width="30" height="30" class="d-inline-block align-top" alt="{{ config.get('CORNERSTONE_TITLE', 'CornerstoneCMS') }}">
            {% endif %}
            {{ config.get('CORNERSTONE_TITLE', 'CornerstoneCMS') }}
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
              {% for item in menu %}
              {% if item.has_children() %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="{{ item.slug }}-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.title }}</a>
                <div class="dropdown-menu" aria-labelledby="{{ item.slug }}-dropdown">
                  {% for child in item.children %}
                  <a class="dropdown-item {% if request.path == child.url %}active{% endif %}" href="{{ child.url }}">{{ child.title }}</a>
                  {% endfor %}
                </div>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == item.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            <ul class="nav navbar-nav ml-auto">
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="flex-shrink-0" role="main">
{% block content %}{% endblock %}
    </main>
    <footer id="footer" class="footer mt-auto py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              {% if current_user.is_authenticated %}
              <li class="float-lg-left mr-1"><a href="/admin/">Admin</a></li>
              <li class="float-lg-left"><a href="{{ url_for('user.logout') }}">Log out</a></li>
              {% else %}
              <li class="float-lg-left"><a href="{{ url_for('user.login') }}">Log in</a></li>
              {% endif %}
              <li class="float-lg-right"><a href="#top">Back to top</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
