{% extends theme('base.html') %}
{% block content %}
<article class="container contact-us">
    <h2>Contact Us</h2>
    <p>Fill in the form below, click submit, and we'll get back to you!</p>
    {% if message %}
    <div class="alert {% if message[1] == 'success' %}alert-success{% elif message[1] == 'error' %}alert-danger{% endif %}">
        {{ message[0] }}
    </div>
    {% endif %}
    <form class="form" action="" method="post">
        <div class="sweet-nectar">
            <label for="sweet-nectar">Leave this field blank</label>
            <input type="text" id="sweet-nectar" name="sweet-nectar" placeholder="Leave this field blank"/>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Your name" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail address:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="username@example.com" required>
        </div>
        <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" name="message" placeholder="Type your message here..." rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</article>
{% endblock %}
