{% extends theme('base.html') %}
{% macro no_results() %}
<div class="alert alert-warning" role="alert">
  <h5 class="alert-heading">No Sermons Found</h5>
  <p>No sermons were found by your search parameters, or there are no sermons uploaded yet.</p>
  <p>Please try making your search query less specific, or come back in a week or two.</p>
</div>
{% endmacro %}
{% block content %}
<div class="container">
  <form id="search-form" class="form-inline mb-3">
    <label class="sr-only" for="q">Search</label>
    <input type="text" name="q" id="q" placeholder="Search..." class="form-control col" value="{{ request.args.get('q', '') }}">
    <button type="submit" class="btn btn-primary ml-2">Search</button>
    <button type="button" class="btn btn-secondary ml-2" onclick="javascript:document.getElementById('q').value = '';document.getElementById('search-form').submit();">Clear</button>
  </form>
  {% if pagination %}
  {% for sermon in pagination.items %}
  <article id="sermon-{{sermon.id}}" class="card mb-3">
    <div class="card-header">
      <h5 class="card-title">{{sermon.title}} <span class="text-muted">{{sermon.scripture}}</span></h5>
      <h6 class="card-subtitle text-muted">{{sermon.date.strftime('%B %-d, %Y')}} by {{sermon.preacher}}</h6>
    </div>
    <div class="card-body">
      <p class="card-text">
        <iframe height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/{{sermon.simplecast_id}}?dark=false"></iframe>
      </p>
      {{ sermon.description | safe }}
    </div>
    {% if sermon.topics %}
    <div class="card-footer text-justify-right">
      {% for topic in sermon.topics %}
      <a href="{{ url_for('sermons.list', q=topic.title) }}" class="badge badge-pill badge-secondary">{{ topic.title }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </article>
  {% else %}
  {{ no_results() }}
  {% endfor %}
  <nav aria-label="Pagination">
    <ul class="pagination justify-content-end">
      <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('sermons.list', page=pagination.prev_num) }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {%- for page in pagination.iter_pages() %}
      {% if page %}
      <li class="page-item {% if page == pagination.page %}active{% endif %}"><a class="page-link" href="{{ url_for('sermons.list', page=page) }}">{{page}}</a></li>
      {% else %}
      <li class="page-item disabled">...</li>
      {% endif %}
      {%- endfor %}
      <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('sermons.list', page=pagination.next_num) }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  {% else %}
  {{ no_results() }}
  {% endif %}
</div>
{% endblock %}
