{% extends 'admin/master.html' %}
{% block body %}
<article class="container" style="margin-top: 10px;">
  <p>
    <a href="{{ url_for('menu.new') }}" class="btn btn-secondary">New menu item</a>
  </p>
  <table class="table table-striped table-condensed table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Enabled</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td><a href="{{ url_for('menu.edit', id=item.id) }}">{{ item.title }}</a></td>
        <td>{{ item.url }}</td>
        <td>{% if item.is_enabled %}Yes{% else %}No{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</article>
{% endblock %}
