{% extends 'admin/master.html' %}
{% block body %}
<article class="container" style="margin-top: 10px;">
  <h2 class="h2">Settings</h2>
  <form role="form" method="post">
    <div class="row">
      <div class="col-2">
        <div class="nav nav-pills flex-column" role="tablist" aria-orientation="vertical">
        {% for group in settings.keys() %}
          <a class="nav-link{% if loop.first %} active{% endif %}" id="{{group.replace(' ', '-')}}-tab" data-toggle="pill" href="#{{group.replace(' ', '-')}}" role="tab" aria-controls="{{group.replace(' ', '-')}}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ group.title() }}</a>
        {% endfor %}
        </div>
      </div>
      <div class="col-10">
        <div class="tab-content" id="grouped-settings">
        {% for group, group_settings in settings.items() %}
          <div class="card tab-pane fade{% if loop.first %} show active{% endif %}" id="{{group.replace(' ', '-')}}" role="tabpanel" aria-labelledby="{{group.replace(' ', '-')}}-tab">
              <div class="card-body">
          {% for setting in group_settings %}
            <div class="form-group {% if setting.type == 'bool' %}custom-control custom-switch{% endif %}">
              {% if setting.type == 'bool' %}
              <input type="checkbox" class="custom-control-input" id="input-{{ setting.key }}" name="{{ setting.key }}" {% if setting.value %}checked{% endif %}>
              <label for="input-{{ setting.key }}" class="custom-control-label">{{ setting.title }}</label>
              {% else %}
              <label for="input-{{ setting.key }}">{{ setting.title }}</label>
              {% if setting.allowed_values %}
              <select name="{{ setting.key }}" id="input-{{ setting.key }}" class="form-control">
                {% for val in setting.allowed_values %}
                <option value="{{ val }}" {% if val == setting.value %}selected{% endif %}>{{ val }}</option>
                {% endfor %}
              </select>
              {% elif setting.type == "int" %}
              <input type="number" name="{{ setting.key }}" id="input-{{ setting.key }}" class="form-control" value="{{ setting.value }}">
              {% else %}
              <input type="text" name="{{ setting.key }}" id="input-{{ setting.key }}" class="form-control" value="{{ setting.value }}">
              {% endif %}
              {% endif %}
            </div>
          {% endfor %}
              </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="row mt-3" style="border-top: 1px solid #eee;">
      <div class="col-8 offset-2">
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</article>
{% endblock %}
